{{!< default}}

<section class="gh-error gh-container">
    <div class="gh-error-code">{{statusCode}}</div>
    <p class="gh-error-description">{{message}}</p>
    <a class="gh-button" href="{{@site.url}}">{{t "Back to home"}}</a>
</section>
